<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.memberBoardMapper">
	<insert id="boardWrite" parameterType="com.java.date.member.dto.MemberBoardDto">
		insert into board(board_num, board_content, board_date, board_count, board_title, board_recom, board_writer)
		values(board_board_num_sql.nextval, #{board_content}, #{board_date}, #{board_count}, #{board_title}, #{board_recom}, #{board_writer})
	</insert>
	
	<insert id="boardWriteFile" parameterType="com.java.date.member.dto.MemberBoardDto">
		<![CDATA[ insert into board values(board_board_num_sql.nextval, #{board_content}, #{board_date}, #{board_count}, #{board_title}, #{board_recom}, #{board_fileSize}, #{board_fileName}, #{board_fileRoot}, #{board_writer}) ]]>		
	</insert>
	
	<select id="getCount" resultType="int">
		select count(*) from board
	</select>
	
	<select id="boardList" parameterType="java.util.HashMap" resultType="com.java.date.member.dto.MemberBoardDto">
		<![CDATA[select *from
					(select rownum rnum, a.* from
						(select * from board)a)
				where rnum >=#{startRow} and rnum <=#{endRow}]]>
	</select>
	
	<select id="boardRead" parameterType="int" resultType="com.java.date.member.dto.MemberBoardDto">
		select * from board where board_num=#{board_num}
	</select>
	
	<update id="readCount" parameterType="int">
		update board set board_count=board_count+1 where board_num=#{board_num}
	</update>
	
	<delete id="deleteBoard" parameterType="java.util.HashMap">
		delete from board where board_num=#{board_num}
	</delete>
	
	<!-- 댓글 달기 -->
	<insert id="replyInsert" parameterType="com.java.date.member.dto.MemberReplyDto">
		insert into reply values(reply_reply_num_seq.nextval, #{board_num}, #{reply_time}, #{reply_content}, #{reply_writer})
	</insert>
	
	<!-- 댓글 가져오기 전 해당 게시글의 댓글들 개수 가져오기. -->
	<select id="replyCount" parameterType="int" resultType="int">
		select count(*) from reply where board_num=#{board_num}
	</select>
	
	<select id="replyList" parameterType="int" resultType="com.java.date.member.dto.MemberReplyDto">
		<![CDATA[select * from reply where board_num=#{board_num} order by reply_num desc ]]>
	</select>
</mapper>





