<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.memberBoardMapper">
	<insert id="boardWrite" parameterType="com.java.date.member.dto.MemberBoardDto">
		insert into board(board_num, board_content, board_date, board_count, board_title, board_recom, board_writer)
		values(board_board_num_sql.nextval, #{board_content}, #{board_date}, #{board_count}, #{board_title}, #{board_recom}, #{board_writer})
	</insert>
	
	<insert id="boardWriteFile" parameterType="com.java.date.member.dto.MemberBoardDto">
		<![CDATA[ insert into board values(board_board_num_sql.nextval, #{board_content}, #{board_date}, #{board_count}, #{board_title}, #{board_recom}, #{board_fileSize}, #{board_fileName}, #{board_fileRoot}, #{board_writer}) ]]>		
	</insert>
	
	<select id="getCount" resultType="int">
		select count(*) from board
	</select>
	
	<select id="boardList" parameterType="java.util.HashMap" resultType="com.java.date.member.dto.MemberBoardDto">
		<![CDATA[select *from
					(select rownum rnum, a.* from
						(select * from board)a)
				where rnum >=#{startRow} and rnum <=#{endRow}]]>
	</select>
	
	<select id="boardRead" parameterType="int" resultType="com.java.date.member.dto.MemberBoardDto">
		select * from board where board_num=#{board_num}
	</select>
</mapper>