<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.memberMapper">
	<insert id="memberInsert" parameterType="com.java.date.member.dto.MemberDto">
		<![CDATA[insert into member values(#{id}, #{pw}, #{age}, #{nickName}, #{phone}, #{addr}, #{birthday},#{member_level},#{zipcode})]]>
	</insert>
	
	<select id="idCheck" parameterType="String" resultType="String">
		select * from member where id=#{id}
	</select>
	
	<select id="nickNameCheck" parameterType="String" resultType="String">
		select * from member where nickName=#{nickName}
	</select>
	
	<select id="zipcode" parameterType="String" resultType="com.java.date.member.dto.MemberZipcodeDto">
	<![CDATA[select * from zip where dong=#{dong}]]>
	</select>
	
	<select id="login" parameterType="java.util.HashMap" resultType="com.java.date.member.dto.MemberDto">
		<![CDATA[select * from member where id=#{id} and pw=#{password}]]>
	</select>
	
	<delete id="delete" parameterType="java.util.HashMap">
		<![CDATA[delete from member where id=#{id} and pw=#{password}]]>
	</delete>
	
	<select id="select" parameterType="String" resultType="com.java.date.member.dto.MemberDto">
		select * from member where id=#{id}
	</select>
	
 	<update id="update" parameterType="com.java.date.member.dto.MemberDto">
		<![CDATA[ update member set pw=#{pw}, age=#{age}, nickname=#{nickName}, phone=#{phone}, addr=#{addr}, birthday=#{birthday}, zipcode=#{zipcode} where id=#{id}]]>
	</update>  
	
	<insert id="memberPoint" parameterType="String">
		<![CDATA[ insert into point(point_code,id,point_manage,point_total,point_content,point_date) values(point_point_code_seq.nextval,#{id},'+1000','1000','회원가입기념 포인트 지급',sysdate) ]]>
	</insert>
	
	<select id="findID" parameterType="java.util.HashMap" resultType="String">
		<![CDATA[ select id from member where nickName=#{nickName} and phone=#{phone} ]]>
	</select>
	
	<select id="findPW" parameterType="java.util.HashMap" resultType="String">
		<![CDATA[ select pw from member where id=#{id} and phone=#{phone} ]]>
	</select>
	
	<delete id="memberEventDelete">
		<![CDATA[ delete from event where id=#{id} ]]>
	</delete>
	
	<delete id="memberPointDelete">
		<![CDATA[ delete from point where id=#{id} ]]>
	</delete>
	
	<delete id="memberSave_courseDelete">
		<![CDATA[ delete from save_course where id=#{id} ]]>
	</delete>
</mapper>