@CHARSET "UTF-8";
.event-A{
	width: 670px;
	overflow: hidden;
	margin:0 auto;
	position: relative;
	/* border:solid 1px black; */
	border-radius:1em/1em;
	float:left;
	height:240px;
}

.event-A ul{
	width:2010px;
	list-style: none;	
	font-size: 0;
}

.event-A ul li{
	display:inline-block;
}

.event-A button.prev-A{
	position: absolute;
	left:0;
	top: 102px;
}

.event-A button.next-A{
	position: absolute;
	right:0;
	top: 102px;
}

.event-B{
	width:392px;
	overflow: hidden;
	margin: 0 auto 0 10px;
	position: relative;	
	/* border:solid 1px black; */
	border-radius:1em/1em;
	float:left;
	height:240px;
}

.event-B ul{
	width:1176px;
	list-style: none;	
	font-size: 0;
}

.event-B ul li{
	font-size: 25px;
	display:inline-block;
	text-align:center;
	line-height:220px;
}

.event-B button.prev-B{
	position: absolute;
	left:0;
	top: 102px;
}

.event-B button.next-B{
	position: absolute;
	right:0;
	top: 102px;
}

.event_div{
	 width: 392px;
	 height: 240px;
	 color: white;
}