<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.randomPlaceMapper">

	<select id="aquestionCount" resultType="int">
		<![CDATA[
			select count(*) from random_question where question_number like 'A%'
		]]>
	</select>

	<select id="randomPlaceStart" parameterType="String" resultType="com.java.date.randomPlace.dto.RandomQuestionDto">
		<![CDATA[
			select * from random_Question where question_number=#{num}
		]]>
	</select>

	<select id="next_QuestionCount" parameterType="String" resultType="String">
		<![CDATA[
			select count(*) from random_question where question_number like #{next_Question}||'%'
		]]>
	</select>
	
	<select id="randomPlaceResult" parameterType="java.util.HashMap" resultType="com.java.date.recommandPlace.dto.PlaceDto">
		<![CDATA[
			select * from place where place_gu=#{endPlace} and place_time=#{endTime} and place_weather like #{endWeather} ||'%'
		]]>
	</select>
	
	<insert id="saveCourse" parameterType="java.util.HashMap">
		<![CDATA[
			insert into save_coursee values (num_save_coursee_seq.nextval, #{id}, #{place1}, #{place2}, TO_CHAR(sysdate,'yy-mm-dd'), #{random}) 
		]]>
	</insert>
</mapper>