<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.recommandPlaceMapper">
	<select id="getPlaceList" resultType="com.java.date.recommandPlace.dto.PlaceDto">
		select * from place
		<!-- where 
		place_name=#{place_name}
		, place_weather=#{place_weather}
		, place_season=#{place_season}
		, place_time=#{place_time} -->
		
	</select>
	<select id="getPrice" resultType="Integer" parameterType="String">
		select place_star from place where place_name=#{name}
	</select>
	
	<select id="getInfo" resultType="com.java.date.recommandPlace.dto.PlaceDto" parameterType="String">
		select * from place where place_code=#{code}
	</select>
	<select id="nameList" resultType="com.java.date.recommandPlace.dto.PlaceDto">
		select * from place
	</select>
	
	
	<!-- <select id="userSelect" resultType="com.java.date.recommandPlace.dto.PlaceDto" parameterType="java.util.Map">
		select * from placee where place_code=#{placeCode1} or place_code=#{placeCode2}
	</select> -->
	<select id="userSelect" resultType="com.java.date.recommandPlace.dto.PlaceDto" parameterType="java.util.List">
		select * from place
		<where>
			 <foreach collection="list" item="item" index="index" separator="or">
				place_code=#{item}
			</foreach>
		</where>
	</select>
	
	
	<select id="test12" resultType="com.java.date.recommandPlace.dto.PlaceDto" parameterType="String">
		select * from place where place_code=#{a}
	</select>
	<select id="selectList22" resultType="com.java.date.recommandPlace.dto.PlaceDto" parameterType="com.java.date.recommandPlace.dto.PlaceDto">
		select * from place
		<!-- where place_location=#{place_location} 
		and place_weather=#{place_weather}
		and place_time=#{place_time}  where place_weather like '%맑음%';
		and place_price=#{place_price} -->
		where (place_gu=#{place_gu} or '무관'= #{place_gu}) 
		and (place_season=#{place_season} or '무관'= #{place_season})
		and (place_weather=#{place_weather} or '무관'= #{place_weather})
		and (place_time=#{place_time} or '무관'= #{place_time})
		and (place_price=#{place_price} or '1234'= #{place_price})
	</select>
</mapper>








