@CHARSET "UTF-8";

/* -- DEFUAL STYLE START ---------------------------------------- */
.centers {
    border:0px solid #8AC007;
    padding: 10px;
}

.line1{
	width: 70%;
	margin-left: 15%;
	border-top:2px solid #F05F40;
	border-bottom:2px solid #F05F40;
}
.line2{
	width: 70%;
	margin-left: 15%;
	height:300px;
	overflow: auto;
	border-bottom:2px solid #F05F40;
}

#readTitle{
	font-size:30px;
	font-style:inherit;
	font-weight: bold;
}
/* */
 .myTh {
	background-color:#F05F40;
}

body{
   font-size:12px;
   font-family:Gulim, dotum, sans-serif;
   
}

a:link {
	text-decoration:none;
	color:blue
}

a:visited {
	text-decoration:none;
	color:red
}

a:hover {
	text-decoration:underline;
	color:black
}
/* -- DEFUAL STYLE START ----------------------------------------- */


/* -- WRITE UPDATE STYLE START -------------------------------- */
.form_style{
	width:1000px; height:420px;
	margin:0px 0px 0px 100px
	/*border-style:dotted;border-width:1px;border-color:red;*/
}

.line{	
	width:753px;height:30px;float:left;
	border-style:solid;border-width:0px;border-color:#000000;
	margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;text-align:left; 
}

.title{
	width:96px;height:12px;float:left;
	border-style:solid;border-width:2px;border-color:#000000;
	border-right-width:0px;border-bottom-width:0px;
    padding:8px 0px 8px 2px;text-align:center; 
}

 #spanWrite{
	width:645px;height:24px;float:left;
	border-style:solid;border-width:2px;
	border-color:#000000;border-bottom-width:0px;
	padding:2px 0px 2px 2px;
}  
/* -- WRITE UPDATE STYLE END -------------------------------------- */