@CHARSET "UTF-8";

/* -- DEFUAL STYLE START --------------------------------------- */
body{
   font-size:12px;
   font-family:Gulim, dotum, sans-serif;	
}

Alert{
	roundedBottom Corners:true;
	color: #124332;
	background-color: #ffffff;
	header-colors:#73c7ea, #0156a9;
	header-height:19;
	drop-shadow-enabled:true;
	drop-shadow-color:#243322;
	corner-radius:15;
	border-style:solid;
	border-thickness:2;
	border-thickness-top:0;
	border-thickness-bottom:0;
	borderThicknessLeft:5;
	borderThicknessRight:5;
	border-color:#0156a9;
	footer-color:#243322, #ffffff;
	title-style-name:"title";
	message-style-name:"messageStyle";
	button-style-name:"AlertButtons";
}

a:link {
	text-decoration:none;
	color:#000000;
}

a:visited {
	text-decoration:none;
	color:red
}

a:hover {
	text-decoration:underline;
	color:black
}
/* -- DEFUAL STYLE START ------------------------------------------ */


/* -- REGISTER UPDATE STYLE START ----------------------------- */
.form_style{
	width:520px; height:340px;
	/* border-style:dotted;	border-width:1px;border-color:red; */
}

.line{	
	width:510px;height:28px;float:left; 
	border-style:solid;border-width:0px;border-color:#000000;
	margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;text-align:left; 
}

.title{
	width:96px;height:12px;float:left;
	border-style:solid;border-width:2px;border-color:#000000;
	border-right-width:0px;border-bottom-width:0px;
	padding:8px 0px 8px 2px;
}

.content{
	width:396px;height:22px;float:left;
	border-style:solid;border-width:2px;border-color:#000000;
	border-bottom-width:0px;
	padding:2px 0px 2px 2px;
}
/* -- REGISTER UPDATE STYLE END ---------------------------------- clear:left;*/
