@CHARSET "UTF-8";

/* -- DEFUAL STYLE START --------------------------------------- */
body{
   font-size:12px;
   font-family:Gulim, dotum, sans-serif;	
}

.selectText{
  width: 100px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

a:link {
	text-decoration:none;
	color:#000000;
}

a:visited {
	text-decoration:none;
	color:red
}

a:hover {
	text-decoration:underline;
	color:black
}
/* -- DEFUAL STYLE START ------------------------------------------ */


/* -- REGISTER UPDATE STYLE START ----------------------------- */
.form_style{
	width:520px; height:340px;
	/* border-style:dotted;	border-width:1px;border-color:red; */
}

.line{	
	width:510px;height:28px;float:left; 
	border-style:solid;border-width:0px;border-color:#000000;
	margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;text-align:left; 
}

.title{
	width:96px;height:12px;float:left;
	border-style:solid;border-width:2px;border-color:#000000;
	border-right-width:0px;border-bottom-width:0px;
	padding:8px 0px 8px 2px;
}

.content{
	width:396px;height:22px;float:left;
	border-style:solid;border-width:2px;border-color:#000000;
	border-bottom-width:0px;
	padding:2px 0px 2px 2px;
}
/* -- REGISTER UPDATE STYLE END ---------------------------------- clear:left;*/
