<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.placeBoardMapper">
	<select id="placeBoardList" parameterType="String" resultType="com.java.date.placeBoard.dto.PlaceBoardDto">
		select * from place where place_location=#{place_location}
	</select> 
</mapper>