<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.myPageMapper">
   <delete id="delete" parameterType="Integer">
      delete save_courses where num=#{num}
   </delete>
   
   <select id="getMyCourse" parameterType="java.util.Map" resultType="com.java.date.recommandPlace.dto.SaveCourseDto">
      select * from save_courses where save_cid=#{id} and save_thema=#{like}
   </select>
   
   <select id="pointcheck" parameterType="String" resultType="com.java.date.mypage.dto.MypageDto">
      select * from point where id=#{id} order by point_code


   </select>
   
   
   
   <select id="usingevent" parameterType="String" resultType="Integer">
        select event_code from event where id = #{id}
   </select>
   <select id="usingevent2" parameterType="list" resultType="com.java.date.member.dto.EventBoardDto">
        select * from event_board 
		<where>
			<foreach collection="list" item="item" index="index"
				separator="or">
				event_code=#{item}
			</foreach>
		</where>
   </select>
   
   <select id="remainCheck" parameterType="String" resultType="int">
   <![CDATA[
       select point_total from point where id=#{id} and point_code=(select max(point_code) from point where id=#{id})
   ]]>
      
   </select> 
</mapper>







