<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.myPageMapper">
   <delete id="delete" parameterType="Integer">
      delete save_courses where num=#{num}
   </delete>
   
   <select id="getMyCourse" parameterType="java.util.Map" resultType="com.java.date.recommandPlace.dto.SaveCourseDto">
      select * from save_courses where save_cid=#{id} and save_thema=#{like}
   </select>
   
   <select id="pointcheck" parameterType="String" resultType="com.java.date.mypage.dto.MypageDto">
      select * from point where id=#{id} order by point_date ,point_total desc


   </select>
   
   
   
   <select id="usingevent" parameterType="String" resultType="com.java.date.member.dto.EventBoardDto">
   <![CDATA[
        select * from event_board where writer = #{nickName}
      ]]>
      

   </select>
   
   <select id="remainCheck" parameterType="String" resultType="int">
   <![CDATA[
       select point_total from point where id=#{id} and point_code=(select max(point_code) from point where id=#{id})
   ]]>
      
   </select> 
</mapper>







