h1, div { text-align: center; }

#mypointBody {

background-color: #EAEAEA;
}

.racetimes  {
text-align: center;
}

h1 {
text-align: center;
}

.racetimes {border-collapse: collapse;  width: 100%; margin:10px 0 0 0; }

#firstrow, .column { padding: 2.0rem; font-size: 1.8rem; }


.row {
   border: 0px solid red;   
   
   background: hsl(50, 50%, 80%);
}

.row, .column {
   
   transition: .4s ease-in; } 

#firstrow {   
	/* background: #FFB2F5;  */
}

.row:nth-child(even) { background: hsla(50, 50%, 80%, 0.7); }

.column:empty {background: hsla(50, 25%, 60%, 0.7); }

.row:hover:not(#firstrow), .row:hover .column :empty {background: #ff0; pointer-events: visible;}
.row:hover:not(#firstrow) { transform: scale(1.2); font-weight: 700; box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);}



.container {
display: table;
}

.row {
display: table-row;
}

.column {
display: table-cell;
}
