body {
	font-size: 12px;
	font-family: Gulim, dotum, sans-serif;
}

a:link {
	text-decoration: none;
	color: blue
}

a:visited {
	text-decoration: none;
	color: red
}

a:hover {
	text-decoration: underline;
	color: black
}

.form_style {
	width: 620px;
	height: 420px;
	margin: 0px 0px 0px 100px
}

.line {
	width: 610px;
	height: 30px;
	float: left;
	border-style: solid;
	border-width: 0px;
	border-color: #000000;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align: left;
}

.span {
	width: 496px;
	height: 24px;
	float: left;
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
	border-bottom-width: 0px;
	padding: 2px 0px 2px 2px;
}

#placeAll {
	width: 1000px;
	
	float: left;
	border: solid 1px black;
	padding: 50px 50px 20px 20px;
	/* 상우하좌 */
}

#title {
	width: 400px;
	height: 400px;
	float: left;
	/* border: solid 0px red; */
	border-width: 2px;
	/* border-right-width: 0px;
	border-bottom-width: 0px; */
	margin: 8px 10px 8px 2px;
	padding: 24px 24px 24px 24px;
	text-align: center;
}

#title_a{
	width: 350px;
	height: 248px;
	border: solid 1px blue;
	text-align: center;
}

#title_b {
	width: 350px;
	height: 50px;
	border: solid 1px blue;
	text-align: center;
}