#Box {
	position: relative;
	width: 300px;
	height: 300px;
}

#head {
	float: left;
	width: 300px;
	height: 50px;
}

#body {
	clear: left;
	float: left;
	width: 300px;
}

#foot {
	width: 850px;
	clear: left;
	float: left;
	left: 0;
}

.replyDiv {
	width: 850px;
	height: 28px;
	align:left;
}

.cssId {
	border: solid 1px black;
	float: left;
	width: 110px;
	text-align:center;
}

.cssStar{
	border: solid 1px black;
	float: left;
	width: 50px;
	text-align:center;
}
.cssContent {
	border: solid 1px black;
	float: left;
	width: 300px;
	text-align:center;
}

.cssDate {
	border: solid 1px black;
	float: left;
	width: 240px;
	text-align:center;
}

.cssUpDel {
	border: solid 1px black;
	float: left;
	width: 80px;
	text-align:center;
}