#picture {
	float:left;
	width:350px;
	height:320px;
	text-align:center; 
	margin:3% 0 0 19%;
}

#content {
	float:left;
	width:500px;
	height: auto;
	margin:3% 0 0 2%;
}

.commentList{
	float: left;
	width: 1000px;
	height: auto;
	text-align:center; 
	padding:0 0 0 2.5%;
}

.cssId {
	border: solid 1px black;
	float: left;
	width: 110px;
	text-align:center;
}

.cssStar{
	border: solid 1px black;
	float: left;
	width: 50px;
	text-align:center;
}
.cssContent {
	border: solid 1px black;
	float: left;
	width: 396px;
	text-align:center;
}

.cssDate {
	border: solid 1px black;
	float: left;
	width: 240px;
	text-align:center;
}

.cssUpDel {
	border: solid 1px black;
	float: left;
	width: 80px;
	text-align:center;
}

#moreComment {
	padding: 1em;
	width: 760px;
	font-size: .8em;
	font-weight: bold;
	background-color: #eee;
	margin-left: 15%;
}
#moreComment:hover {
	color:#fff;
	background-color: #999;
}

.replyDiv {
	width: 880px;
	height: 28px;
	text-align:center;
	margin-left: 15%;
}

.orangeLine{
	border-style:solid;border-width:2px;border-color:#F05F40;
}


.line1{
	width: 70%;
	margin-left: 15%;
}